%script{ type: 'text/ng-template', id: 'editAccountInfo' }
  .modal.account-details
    .modal-wrapper
      .btn-hide.icon-arrow-back{{ 'ng-click': 'modal.closeAll()' }}
      %h3 Account Details

      %form.site-form{ action: '/api/user/account.json', method: :put, 'ng-submit': 'editAccount.accountUpdate($event)' }
        .input-parent.email
          %label.icon-email{ for: 'user-email' } Email Address
          %input#user-email.field{ type: 'text', name: 'user[email]', 'ng-value': 'auth.currentUser.email' }

        .input-parent
          %label.icon-user{ for: 'user-first-name' } First Name
          %input#user-first-name.field{ type: 'text', name: 'user[first_name]', 'ng-value': 'auth.currentUser.first_name' }

        .input-parent
          %label.icon-user{ for: 'user-last-name' } Last Name
          %input#user-last-name.field{ type: 'text', name: 'user[last_name]', 'ng-value': 'auth.currentUser.last_name' }

        %button.btn-submit{ type: 'submit' } Save
        .btn-cancel{{ 'ng-click': 'modal.closeAll()' }} Cancel


      %form.site-form{ action: '/api/user/account/update_password.json', method: :put, 'ng-submit': 'auth.changePassword($event)' }
        .input-parent
          %label.icon-key{ for: 'user-password' } Password
          %input#user-password.field{ type: 'password', name: 'user[password]' }

        .input-parent
          %label.icon-key{ for: 'user-password-confirmation' } Password Confirmation
          %input#user-password-confirmation.field{ type: 'password', name: 'user[password_confirmation]' }

        %button.btn-submit{ type: 'submit' } Update Password
        .btn-cancel{{ 'ng-click': 'modal.closeAll()' }} Cancel
