%script{ type: 'text/ng-template', id: 'newPassword' }
  .modal.modal-reset
    .modal-wrapper
      %a.logo{ 'ui-sref': 'home' }
        %img{ src: image_path("logos/#{ENV.fetch('LOGO_NAME')}"), style: 'border-style: none' }

      %form.site-form{ action: '/api/users/password.json', method: :put, 'ng-submit': 'auth.submitNewPassword($event)' }
        %hr.separator
        .title.text-support.uppercase New Password
        .text-support
          Set new password...
        %br

        .input-parent
          %input{ type: 'hidden', name: 'base' }
          %input{ type: 'hidden', name: 'user[reset_password_token]', 'ng-value': 'token' }

        .input-parent
          %input.field{ type: 'password', name: 'user[password]', placeholder: 'Password' }

        .input-parent
          %input.field{ type: 'password', name: 'user[password_confirmation]', placeholder: 'Password Confirmation' }

        %button.btn-submit{ type: 'submit' } Reset now
    .background-wrapper
