%script{ type: 'text/ng-template', id: 'forgotYourPassword' }
  .modal.modal-reset
    .modal-wrapper
      %a.logo{ 'ui-sref': 'home' }
        %img{ src: image_path("logos/#{ENV.fetch('LOGO_NAME')}"), style: 'border-style: none' }

      %form.site-form{ action: '/api/users/password.json', method: 'POST', 'ng-submit': 'auth.submitPasswordReset($event)' }
        %hr.separator
        .title.text-support.uppercase Reset Your Password
        .text-support
          Can’t remember your password to login? No problem. Just enter your email address and we will send you instructions.
        %br

        .input-parent
          %input{ type: 'hidden', name: 'base' }

        .input-parent
          %input.field{ type: 'text', name: 'user[email]', placeholder: 'Email' }

        %button.btn-submit{ type: 'submit' } Reset now
        .info.text-support
          .link{ 'ng-click': 'modal.signInDialog()' } Go to Sign in
    .background-wrapper
