%script{ type: 'text/ng-template', id: 'signInDialog' }
  .modal.modal-sign
    .modal-wrapper
      .logo
        %img{ src: image_path("logos/#{ENV.fetch('LOGO_NAME')}") }
      %form.site-form{ action: '#', method: 'GET', 'ng-submit': 'auth.submitLogin($event)' }
        %hr.separator
        .title.text-support.uppercase Sign In With
        %a.btn-facebook{ href: '/api/users/auth/facebook', target: '_self' }
          facebook
        %a.btn-twitter{ href: '/api/users/auth/twitter', target: '_self' }
          twitter
        %hr.separator
        .title.text-support or

        .input-parent
          %input.field{ type: 'hidden', name: 'base' }
        .input-parent
          %input.field{ type: 'text', name: 'email', placeholder: 'Email' }
        .input-parent
          %input.field{ type: 'password', name: 'password', placeholder: 'Password' }

        %button.btn-submit{ type: 'submit' } Log in
        .info.text-support
          .link{ 'ng-click': 'modal.forgotYourPassword()' } Forgot Your Password?
          .link{ 'ng-click': 'modal.resendConfirmation()' } Resend Confirmation Email
        %a.btn-signup{ 'ui-sref': 'setupAccount', 'ng-click': 'modal.closeAll()'  }
          Setup A Free Account?
    .background-wrapper
