// Savoy Regular
@font-face {
  font-family: 'Savoy-Regular';
  src: asset-url('Savoy-Regular/Savoy-Regular.eot');
  src: asset-url('Savoy-Regular/Savoy-Regular.eot?#iefix') format('embedded-opentype'),
       asset-url('Savoy-Regular/Savoy-Regular.woff2') format('woff2'),
       asset-url('Savoy-Regular/Savoy-Regular.woff') format('woff'),
       asset-url('Savoy-Regular/Savoy-Regular.ttf') format('truetype'),
       asset-url('Savoy-Regular/Savoy-Regular.svg#Savoy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ChronicleDisp
@font-face {
  font-family: 'ChronicleDisp-Semibold';
  src: asset-url('ChronicleDisp-Semibold/ChronicleDisp-Semibold.eot');
  src: asset-url('ChronicleDisp-Semibold/ChronicleDisp-Semibold.eot?#iefix') format('embedded-opentype'),
       asset-url('ChronicleDisp-Semibold/ChronicleDisp-Semibold.woff') format('woff'),
       asset-url('ChronicleDisp-Semibold/ChronicleDisp-Semibold.ttf') format('truetype'),
       asset-url('ChronicleDisp-Semibold/ChronicleDisp-Semibold.svg#chronicleDispSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChronicleDisp-SemiboldItal';
  src: asset-url('ChronicleDisp-SemiboldItal/ChronicleDisp-SemiboldItal.eot');
  src: asset-url('ChronicleDisp-SemiboldItal/ChronicleDisp-SemiboldItal.eot?#iefix') format('embedded-opentype'),
       asset-url('ChronicleDisp-SemiboldItal/ChronicleDisp-SemiboldItal.woff') format('woff'),
       asset-url('ChronicleDisp-SemiboldItal/ChronicleDisp-SemiboldItal.ttf') format('truetype'),
       asset-url('ChronicleDisp-SemiboldItal/ChronicleDisp-SemiboldItal.svg#chronicleDispSemiboldItal') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Bree
@font-face {
  font-family: 'BreeSerif-Regular';
  src: asset-url('Bree/BreeSerif-Regular.otf') format('opentype');

  font-weight:normal;
  font-style:normal;
}


// Bitter
@font-face {
  font-family: 'Bitter-Regular';
  src: asset-url('Bitter/regular/bitter-regular-webfont.eot');
  src: asset-url('Bitter/regular/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('Bitter/regular/bitter-regular-webfont.woff2') format('woff2'),
       asset-url('Bitter/regular/bitter-regular-webfont.woff') format('woff'),
       asset-url('Bitter/regular/bitter-regular-webfont.ttf') format('truetype'),
       asset-url('Bitter/regular/bitter-regular-webfont.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Bold';
  src: asset-url('Bitter/bold/bitter-bold-webfont.eot');
  src: asset-url('Bitter/bold/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('Bitter/bold/bitter-bold-webfont.woff2') format('woff2'),
       asset-url('Bitter/bold/bitter-bold-webfont.woff') format('woff'),
       asset-url('Bitter/bold/bitter-bold-webfont.ttf') format('truetype'),
       asset-url('Bitter/bold/bitter-bold-webfont.svg#bitterbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Italic';
  src: asset-url('Bitter/italic/bitter-italic-webfont.eot');
  src: asset-url('Bitter/italic/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('Bitter/italic/bitter-italic-webfont.woff2') format('woff2'),
       asset-url('Bitter/italic/bitter-italic-webfont.woff') format('woff'),
       asset-url('Bitter/italic/bitter-italic-webfont.ttf') format('truetype'),
       asset-url('Bitter/italic/bitter-italic-webfont.svg#bitteritalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Open-Sans
@font-face {
  font-family: 'Open-Sans-Regular';

  src: asset-url('OpenSans/regular/OpenSans-Regular-webfont.eot');
  src: asset-url('OpenSans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('OpenSans/regular/OpenSans-Regular-webfont.woff') format('woff'),
       asset-url('OpenSans/regular/OpenSans-Regular-webfont.ttf') format('truetype'),
       asset-url('OpenSans/regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans-Light';

  src: asset-url('OpenSans/light/OpenSans-Light-webfont.eot');
  src: asset-url('OpenSans/light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('OpenSans/light/OpenSans-Light-webfont.woff') format('woff'),
       asset-url('OpenSans/light/OpenSans-Light-webfont.ttf') format('truetype'),
       asset-url('OpenSans/light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans-Bold';

  src: asset-url('OpenSans/bold/OpenSans-Bold-webfont.eot');
  src: asset-url('OpenSans/bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('OpenSans/bold/OpenSans-Bold-webfont.woff') format('woff'),
       asset-url('OpenSans/bold/OpenSans-Bold-webfont.ttf') format('truetype'),
       asset-url('OpenSans/bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');

  font-weight: normal;
  font-style: normal;
}

// Bungee Regular
@font-face {
  font-family: 'Bungee';
  src: asset-url('Bungee/Bungee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}