// PODCAST PAGE
$podcast-header-play-button-size: 56px;
$podcast-header-play-button-size-mobile: 42px;
$podcast-header-play-button-wide-size: 200px;

//PROFILE PAGE
$avatar-size: 210px;

// COLORS
$dark_background: #2d2d2d;
$header_grey: #aaaaaa;
$grey: #e6e6e6;
$grey_dark: #bfbfbf;
$nav-grey: #f1f2f4;
$blue: #0ea3d3;
$button-success: #5cb85c;
$back-hover: #12b5dc;
$white: #ffffff;
$black: #000000;
$border-color: #dddddd;
$sidebar-blue: #4d98b7;

$media-bg-active-color: #64abc8;

// FONTS

$savoy-reugular: 'Savoy-Regular';
$chronicle-disp-semibold: 'ChronicleDisp-Semibold';
$chronicle-disp-semibold-ital: 'ChronicleDisp-Semiboldital';
$bree-regular: 'BreeSerif-Regular';
$bitter-regular: 'Bitter-Regular';
$bitter-bold: 'Bitter-Bold';
$bitter-italic: 'Bitter-Italic';
$open-regular: 'Open-Sans-Regular';
$open-light: 'Open-Sans-Light';
$open-bold: 'Open-Sans-Bold';
$helvetica-neue: "Helvetica Neue";

// WIDTHS
$sidebar-width: 215px;
$navbar-height: 90px;
$header-mobile-height: 50px;


// MEDIA
$desktop: 1200px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$mobile-landscape: 736px;
$mobile-portrait: 420px;

// OFFSETS
$main-left-right-offset: 65px;
$desktop-left-right-offset: 35px;
$tablet-landscape-left-right-offset: 35px;
$tablet-portrait-left-right-offset: 35px;
$mobile-landscape-left-right-offset: 15px;
$mobile-portrait-left-right-offset: 15px;

$modal-top-position: 10vh;
$modal-bottom-position: 10vh;
