#home {
  .adjustable-main-block {
    width: 100%;
    box-sizing: border-box;
  }

  .section {
    padding: 10px 35px;
  }

  .recommended-header {
    margin-top: 60px;
    font-family: $chronicle-disp-semibold;
    font-size: 14px;
    color: #2d2d2d;

    .big-header {
      font-size: 30px;
      vertical-align: top;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}

@include mobile-landscape {
  #home {
    .recommended-header {
      .big-header {
        font-size: 20px;
        display: block;
        margin-left: 4%;
        margin-bottom: 10px;
      }
    }
  }
}
