.item-box-image
  %img.image{ 'ng-src': '{{ media.for_preview.image }}' }

.item-box-category
  %a.title{ 'ng-href': '{{ media.for_preview.category_path }}' }
    {{ media.for_preview.category_name }}

%a.item-box-name{ 'ng-href': '{{ media.for_preview.path }}' }
  {{ media.for_preview.name }}

.item-box-description
  {{ media.for_preview.description | truncate: 110 }}
