.account-settings {
  .modal-wrapper {
    .site-form {
      .avatar-image {
        img { max-width: 120px; }
      }

      .background-image {
        img { max-width: 180px; }

        label {
          &:before { margin-top: 4px; }
        }
      }

      .field {
        &.background-color {
          width: 150px;
          height: 42px;
          padding: 0;
          background: #fff;
        }
      }
    }
  }
}
